<?xml version="1.0"?>
<!--
/**
 * RmParts IndexManager Module Configuration
 * v1.0.0 - Full indexing management and Elasticsearch monitoring
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="RmParts_IndexManager" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Indexer"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Elasticsearch"/>
            <module name="Magento_Elasticsearch7"/>
        </sequence>
    </module>
</config>